<h1>My Profile</h1>

<section class="wrapper">
  <div class="menu-profile">
    <ul>
      <li (click)="goToSection('about-id')">ABOUT ME</li>
      <li (click)="goToSection('education-id')">EDUCATION</li>
      <li (click)="goToSection('interest-id')">INTEREST</li>
      <li (click)="goToSection('publication-id')">PUBLICATION</li>
      <li (click)="goToSection('history-id')">HISTORY</li>
      <li (click)="goToSection('project-id')">PROJECT</li>
    </ul>
  </div>
  <div class="profile-detail">
    <div id="about-id">
      <label>ABOUT ME</label>
      <p>
        I'm Quoc Lap Trieu, I'm from Vietnam. At the moment, I live in Sydney,
        Australia to pursure my Master degree in ICT. I love programming and
        developing intesting projects, I also love challenges from solving
        problems during implementation and I believe that only practises and
        challenges could help me advance further.
      </p>
    </div>

    <div id="education-id">
      <label>EDUCATION</label>
      <p>
        From 2013 to 2017, I have finished my Bachelor of Computer Science
        degree with GPA of 3.78/4 at the University of Science in Vietnam.
        Starting in the year of 2018, I’m studying Master of Information and
        Communications Technology (Advanced) at the University of Western Sydney
        for a period of 2 years.
      </p>
    </div>

    <div id="history-id">
      <label>HISTORY</label>
      <ul>
        <li>
          Starting from May of 2016 to September of 2017, I started to work as a
          part-time developer for SmartApp during the final year of my
          undergraduate. It is a start-up company that develops its own software
          products and provides IT solutions for clients as well. The USurvey
          project has been implemented with the server and web application for
          nearly a year. The project is to help users earn money by doing
          surveys provided by the application. When submitting a survey, user
          will receive the points corresponding to that survey. After obtaining
          sufficient amount of point, users could be able to exchange money
          using the points they earn. My task as a front-end developer was to
          implement the mobile software from scratch based on the existing web
          application for Android and IOS platform. In order to reduce the time
          for mobile development, my team chose React Native framework to
          implement a cross-platform mobile application that supports both
          Android and IOS version. I worked under the instruction of a senior
          developer that has plenty of experience on programming. Using that as
          an advantage, I was able to learn as much as I could by trying to ask
          him various questions.
        </li>
        <li>
          In June 1st of 2015, as a requirement of graduating my Bachelor of
          Computer Science degree, I started to work as an intern during the
          period of 4 months for the company of Global CyberSoft (GCS) in
          Vietnam. It is an outsourcing company that provides IT solutions for
          customers around the world. The company was established in California
          in 2000, and since 2014, the company has been under the management of
          Hitachi Consulting Corporation in Japan (CyberSoft, 2014). At first, I
          was assigned as a back-end Java developer for the SmartAgri project.
          My task was to implement functions as well as its Unit test in server
          Spring Framework to provide Application Program Interface (API) for
          the clients which are the web and mobile application. During the
          process of project development, I was also assigned as a front-end
          developer to implement the web application for the project. My task
          was to focus on fixing bugs in the web and integrating new APIs in a
          server with the web application.
        </li>
      </ul>
    </div>

    <div id="award-id">
      <label>AWARD</label>
      <p>
        In March 2018, I received the scholarship of Vice-Chancellor’s Academic
        Excellence Postgraduate for my master course at the Western Sydney
        University. The scholarship covers fifty percent of my tuition fee in
        the university during the period of two years.
      </p>
    </div>

    <div id="interest-id">
      <label>INTEREST</label>
      <ul>
        <li>
          Reading Book: Whenever I have leisure time, I usually spend my time
          reading my favorite books. The books are usually about
          self-improvement since it helps readers live a successful life by
          guiding them the way to achieve their ambition. Sometimes, I also read
          light novels as a way to help me entertain after being under the
          pressure of studying. My favorite book of all the time is “How to Win
          Friends and Influence People” of the famous author, Dale Carnegie. The
          book focuses on teaching me the skills as well as the primary
          principles of communication in order to be able to influence the
          others.
        </li>
        <li>
          Listening to music: I also choose to listen to music as an effective
          method of not only relaxing my mind but focusing on my tasks as well.
        </li>
        <li>
          Self-learning: Whenever I feel bored or do not know what to do, I
          often spend my time on finding new objectives to learn. Sometimes, I
          learn how an application is implemented by decompiling the source code
          of the software and read its structure. I also modify the
          functionalities of the application so that it could fit my purpose. I
          choose the method of finding an objective and then implementing an
          application to accomplish it as a way to for me to practice and learn
          new knowledge.
        </li>
      </ul>
    </div>

    <div id="publication-id">
      <label>PUBLICATION</label>
      <ul>
        <li>
          My first paper,
          <b
            >“News classification from social media using twitter-based doc2vec
            model and automatic query expansion”</b
          >
          in proceedings of SoICT, published in 2017 during the final year of my
          undergraduate. The paper is about proposing a new method for
          classifying the content of news into different topics based on doc2vec
          model and query expansion technique that I learned in my thesis.
        </li>
        <li>
          <b
            >“Document Sensitivity Classification for Data Leakage Prevention
            with Twitter-based Document Embedding and Query Expansion”</b
          >
          is my second paper, which was also published at the end of 2017 in
          proceedings of CIS. The paper focuses on developing a new solution for
          classifying sensitive documents. The sole purpose is to protect
          private documents from other parties by classifying and filtering them
          using document embedding technique.
        </li>
      </ul>
    </div>

    <div id="project-id">
      <label>PROJECT</label>
      <ul>
        <li>
          <a href="https://github.com/lap089/RobotCar">RobotCar</a>
          <p class="description">
            A wireless car with equipped camera, using Arduino for motor
            controller and OpenWrt framework on wireless router TP-Link
            TL-MR3020 for wireless connection and camera streaming.
          </p>
          <p class="language">Python, C, Arduino, OpenWrt</p>
        </li>
        <li>
          <a href="http://smartagri.com.vn/\#/home">SmartAgri</a>
          <p class="description">
            A cloud-based software system that helps manage high-tech
            agricultural production from the very first stage of planning all
            the way to harvest. Users can monitor the status of production,
            adjust environment, control production devices thanks to the
            functionality of remote real-time data collection. SmartAgri is
            flexible and can be customized to make sure to meet specific
            requirements of every customer.
          </p>
          <p class="language">Java Spring, AngularJs</p>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/-xTL8hzsq1c"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li>
          <a href="https://github.com/huyqut/thesis-spider">Antenna</a>
          <p class="description">
            The project is developed for my thesis defense. With the collection
            of more than 420,000 articles crawling from different channels in
            Twitter for training the Word Embedding model (Doc2Vec), we create
            the universal encoding model to convert the data into a fixed length
            vector for semantic processing. The project applies this universal
            model to create a system for helping user analyze and visualize
            textual data. <br />
            Training project: https://github.com/lap089/thesis-nlp
          </p>
          <p class="language">Python, Java Spring</p>
        </li>
        <li>
          <a href="https://github.com/lap089/MoodleManager">Moodle Manager</a>
          <p class="description">
            The intention of this program is to support my study. I realized
            that my classmates and I did not regularly access our Moodle page,
            which caused us to miss our deadlines and/or any new notifications.
            This creation is based on the Moodle website of my school to notify
            me of new events or alert me when my deadlines come.
          </p>
          <p class="language">Windows Universal</p>
        </li>
        <li>
          <a href="https://github.com/lap089/USurvey">Usurvey</a>
          <p class="description">
            An online survey application to help users earn money for
            cross-platform mobile and web application. The project has two main
            versions with different purposes. In the first version, it is the
            cross-platform mobile application that uses React Native framework.
            Regarding the second one, it is the web application implemented by
            Angular2 to support companies for creating various types of survey.
          </p>
          <p class="language">React Native, AngularJs</p>
        </li>
      </ul>
    </div>
  </div>
</section>
