

.manga-list {
  text-align: center;
}

.manga-list h2 {
  font-size: 20px;
}

.manga-list ul {
  list-style-type: none;
  padding: 0;
}

.manga-list li {
  display: inline-block;
  width: 40%;
  padding: 0;
}

.wrapper img {
  width: 100%;
}

.manga-item-row {
  margin: 10px;
  margin-bottom: 50px;
  border-bottom: 2px solid blue;
}

.manga-list li:hover {
  background-color: azure;
  cursor: pointer;
  border-radius: 10px;
}

button.btn-next {
  background: greenyellow;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;
  opacity: 0.8;
  width: 70%;
  border: 0;
  border-radius: 10px;
}

button.btn-next:hover {
  opacity: 1;
}

.manga-list .center {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

// Gird
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.manga-row-image {
  grid-column: span 4;
}

.manga-row-info {
  grid-column: span 8;
}



// Media

@media (max-width: 790px) {
  .manga-list li {
    display: block;
    width: 100%;
    height: 200px;
  }
  .manga-item-row img {
    width: 100%;
    height: 195px;
  }
}
