
nav {
  margin-top: 40px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

nav a.active {
  color: #e8491d;
  font-weight: bold;
}

nav a:hover {
  color: #d14812;
}

nav li {
  display: inline-block;
  padding: 0 20px 0 20px;
}

nav .logo {
  width: 40px;
  height: auto;
  float: left;
}
nav h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
}


.header {
     background: linear-gradient(to right, transparent, #141414, transparent);
    color: white;
    padding-top: 30px;
    min-height: 70px;
     border-bottom: rgba(0, 0, 0, 0.4) 3px solid; 
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.header h1 {
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}