.report-pdf-list .report-item {
  list-style-type: circle;
  cursor: pointer;
  padding: 10px;
}

.report-pdf-list .report-item:hover {
  background-color: rgb(173, 168, 214);
  border-radius: 10px;
  
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.inline-list li{
  list-style-type: none;
  display: inline;
}

.center {
  display: inline-block;
  text-align: center;
  margin: 50px;
}

@media (max-width: 790px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}